[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
argparse = "*"
botocore = "*"
textual = "*"
keyring = "*"
configparser = "*"
requests = "*"
datetime = "*"
jira = "*"
simple-salesforce = "*"
paramiko = "*"
tabulate = "*"
typing = "*"
dropbox = "*"
tqdm = "*"
prettytable = "*"
interactive = "*"
slack-sdk = "*"
sqlparse = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
