[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tools_package"
version = "env['VERSION']"
authors = [
    { name = "Michael Einreinhof", email = "michael@einreinhof.com" },
]
description = "A small tools random number package"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
]
dependencies = [{{ env['DEPENDENCIES'] }}]

[project.urls]
Homepage = "https://github.com/alteredtech/random-number"
Issues = "https://github.com/alteredtech/random-number/issues"