[metadata]
name = tools-core
version = {{env['PACKAGE_VERSION']}}
description = Example repo for creating brew formula for python scripts
long_descrition = file: README.md
long_descrition_content_type = text/markdown